<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../../CSS/css/Contact.css">
</head>
<body>

     <header>
    <section class="logo">
      <h1><a href="../index.html">Speed Wash</a></h1>
       <nav>
      <ul>
        <li><a href="../index.html">home</a></li>
        <li><a href="../views/Services.html">Services</a></li>
        <li><a href="../views/Pricing.html">Pricing</a></li>
        <li><a href="../views/About Us.html">About Us</a></li>
      </ul>
      <button class="bookwash">Book wash</button>
    </nav>
    </section>
  </header>

  <main>
    <section class="Contact">
<form action="" method="post">

        <label for="Name">Your Name:</label>
        <input type="text" name="Name" placeholder="Enter your name" autocomplete="on" required autofocus><br>

        <label for="Email">Your Email:</label>
        <input type="email" name="Email" placeholder="Enter your email" autocomplete="on" required ><br>

        <label for="Subject">Subject:</label>
        <input type="text" name="Subject" placeholder="Enter the subject" autocomplete="on" required ><br>

        <label for="phone">Your phone number:</label>
        <input type="tel" name="phone" placeholder="Enter your phone number" autocomplete="on" required ><br>

        <label for="Message">Message:</label><br>
        <textarea name="Message" id="Message" ></textarea>

        <button type="submit">Send Message</button>
    </form>
    </section>

    <section class="map">

    </section>
    
  </main>

   <footer>
    <div>
        <ul>
            <li><a href="../index.html">home</a></li>
            <li><a href="./Services.html">Services</a></li>
            <li><a href="./About Us.html">About</a></li>
            <li><a href="./Contact.html">Contact</a></li>
        </ul>
    </div>
          <div><p>© <p><script src="">new Date().getFullYear()</script></p> Speedy Wash. All rights reserved.</p></div>
  </footer>
    
  sr
</body>
</html>