:root{
    /* color */
    --text-color: #121417; 
    --bookwash-button:  #1A8FE5;
    --bookwash-text:  #E5E8EB;
    --line: #637887bd;

    --hero-color-text:#ffffff;
    --background-color: #ffffff;

    
    

    --bookwash-button-hover:#59a6dc;
    --bookwash-button-hover-shadow:#59a6dc6f;

    

}
body{
    background-color: var(--background-color);

}