footer {
    padding-left: 160px;
    padding-right: 160px;
}
footer .Privacy{
    padding-top: 40px;
display: flex;
justify-content: space-between;
font-style: 16px;
line-height: 24px;
}
.copy{
    text-align: center;
    padding: 40px;
}