.logo{
    display: flex;
    justify-content: space-between;
    padding:12px 40px ;
    border: 1px solid var(--line);
}
.logo h1 a{
    color: var(--text-color);
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    height: 23px;
}
nav{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    width: 480px;
    height: 40px;
}
nav ul{
    display: flex;
    width: 330px;
    height: 40px;
    justify-content: space-between;
    list-style: none; 
}
nav ul li a {
     color: var(--text-color);
     text-decoration: none;
}


.hero{
    padding-top: 20px;
    padding-left:160px;
    padding-right:160px;
    position: relative;
    
}
.hero img{
    border-radius: 10px;
    
}
.hero h1{
    color: var( --hero-color-text);
    position: absolute;
    top: 100px;
    left:190px;
    font-weight: bold;
    font-size: 48PX;
    line-height: 60px;
    width: 896px;
    height: 120px;
    text-align: center;
    z-index: 1;
}
.hero p{
    color: var( --hero-color-text);
    position: absolute;
    top: 228px;
    left:190px;
    font-size: 16PX;
    line-height: 24px;
    width: 896px;
    height: 120px;
    text-align: center;
    z-index: 1;
}
.hero button{
    position: absolute;
    top: 305px;
    left:572px;
    font-size: 16PX;
    text-align: center;
    z-index: 1;
}