/* ALL Mobile devices */

@media screen and (max-width: 480px) {
    
}

/* ALL iPads, Tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {

}

/* ALL Small screens, laptops */

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

/* ALL Desktops, large screens */

@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

/* ALL Extra large screens, TV */

@media screen and (min-width: 1201px) {
footer {
    padding-left: 160px;
    padding-right: 160px;
}
footer .footer-infor{
    ul{
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
    li{
        list-style: none;
        
    }
    a{
        text-decoration: none;
        color: var(--linear);
    }
}
.copy{
    text-align: center;
    padding: 40px;
}
}